body{
    max-width: 1440px;
    margin: 0 auto;
  }
.menu{
    display: flex; 
    width: 40%;   
    justify-content: space-between;
    font-size: 80%;
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none    
}
a{
    text-decoration: none;    
}
.developer{
    font-weight: bold; 
}
.section-one{
    display: flex;
}
.photo{
    width: 10%;
    /* margin-right: 10px; */
    padding: 10px 50px 10px 50px;    
}
#photo{
    border-radius: 45%;
}
.name{
    width: 90%;     
}
#contact{
    padding-left: 40px;
}
.contact{
    list-style-type: none
}
span{
    font-weight: bold;
}
main{
    margin-bottom: 50px;
}
.footer{
    display: flex;      
    justify-content: flex-start;
}
.gh{
    margin-right: 260px;
}
.logo{
    width: 80px;
    height: 30px;
}












